{
  "parser": "babel-eslint",
  "globals": {},
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "arrow-body-style": [0],
    "camelcase": [0],
    "class-methods-use-this": [0],
    "eqeqeq": [1],
    "flowtype-errors/show-errors": 2,
    "max-len": [0],
    "new-cap": [0],
    "no-console": [0],
    "no-param-reassign": [0],
    "no-underscore-dangle": [0],
    "no-unused-vars": [1],
    "prefer-arrow-callback": [1],
    "prefer-destructuring": [0],
    "no-use-before-define": ["error", { "classes": false }]
  },
  "extends": [
    "prettier",
    "prettier/flowtype",
    "prettier/standard",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype",
    "flowtype-errors"
  ],
}
