{
  "parser": "babel-eslint",
  "globals": {},
  "env": {
    "es6": true
  },
  "rules": {
    "comma-dangle": [0],
    "max-len": [0],
    "camelcase": [0],
    "class-methods-use-this": [0],
    "quotes": [2, "double"],
    "prefer-arrow-callback": [0],
    "new-cap": [0],
    "no-underscore-dangle": [0],
    "arrow-body-style" : [0],
    "no-param-reassign" : [0],
    "no-console": [0],
    "eqeqeq": [1],
    "spaced-comment": ["error", "always", { "markers": [":", "::"] }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
}
