{
  "parser": "@babel/eslint-parser",
  "globals": {},
  "env": {
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "max-len": [0],
    "camelcase": [0],
    "quotes": [2, "double"],
    "prefer-arrow-callback": [0],
    "new-cap": [0],
    "no-underscore-dangle": [0],
    "arrow-body-style" : [0],
    "no-param-reassign" : [0],
    "no-console": [0],
    "eqeqeq": [1],
    "spaced-comment": ["error", "always", { "markers": [":", "::"] }],
    "import/no-import-module-exports": [0]
  },
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ]
}
